/** Productos **/
.contenedor {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto; 
    text-align: center;
}
.productos {
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; 
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.productos .producto {
    display: flex;
    flex: 0 1 calc(33% - 1rem); 
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border: 1px solid #e1e1e1; 
}
.producto .producto__imagen {
    width: 100%; 
}
.productos .producto .producto__informacion {
    padding: 1rem 1rem; 
    color: #121212;
}

.productos .producto .producto__informacion h4 {
    margin: 0;
    font-size: 1.2rem; 
    color: #121212;
}
.producto__informacion p {
    font-size: .9rem; 
}
.producto__btnAgregarCarrito {
    width: 50%;
    background-color: #ffc331;
    padding: .5rem 1rem;
    display: inline;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none; 
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: none;
}
.producto__btnAgregarCarrito:hover {
    background-color: #121212;
}
.producto__btn{
    width: 3rem;
    background-color: #ffc331;
    padding: 1rem 1rem;
    display: inline;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none; 
    margin: 1rem;
    border-radius: .5rem;
    border: none;
}
.producto__btn:hover {
    background-color: #121212;
}
  .producto__precio {
    display: flex;
    justify-content: space-between; 
  }
  .producto__precio .precio {
    font-size: 1.2rem;
    font-weight: 900;
    color: #121212;
  }
  .producto__precio .oferta {
    text-decoration: line-through;
    font-size: 1.1rem;
    font-weight: 300; 
    color: #6b6b6b;
  }

