html {
  box-sizing: border-box; 
}
*,
*:after,
*:before {
  box-sizing: inherit; 
}
body {
  font-family: "Lato"; 
  background-color: #f9f4f1;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
p {
  font-family: "Lato"; 
  font-weight: 300;
  font-size: 1.2rem;
  color: #121212;
}
.contenedor {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto; 
}
img {
  max-width: 100%; 
}
.centrado {
  text-align: center;
}
.contenedor {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto; 
  text-align: center;
}
/** NavBar **/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  padding: .5rem 0; 
}
.header__logo img {
  height: 15vh;
}
.navegacion {
  width: 60%;
}
.navegacion__menu {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  list-style: none; 
  text-align: center;
  padding: 0;
}
.navegacion__menu li {
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 300;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none; 
}
.navegacion__menu li:hover {
  color: #ffc331;
}
/** Productos **/
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; 
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.producto {
  flex: 0 1 calc(33% - 1rem); 
  background-color: #ffffff;
  margin-bottom: 1rem;
  border: 1px solid #e1e1e1; 
}
.producto .producto__imagen {
  width: 100%; 
}
.productos .producto .producto__informacion {
  padding: 1rem 1rem; 
  color: #121212;
}
.productos .producto .producto__informacion h4 {
  margin: 0;
  font-size: 1.2rem; 
  color: #121212;
}
.producto__informacion p {
  font-size: .9rem; 
}
.producto__btn {
  width: 100%;
  height: 2.5rem;
  background-color: #ffc331;
  padding: .5rem 1rem;
  display: inline;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none; 
  margin-bottom: 1rem;
  border-radius: 2.5rem;
  border: none;
}
.producto__btn:hover {
  background-color: #121212;
}
.producto__precio {
  display: flex;
  justify-content: space-between; 
}
.producto__precio .precio {
  font-size: 1.2rem;
  font-weight: 900;
  color: #121212;
}
.producto__precio .oferta {
  text-decoration: line-through;
  font-size: 1.1rem;
  font-weight: 300; 
  color: #6b6b6b;
}

/**Detalle Producto**/
.detalles .detalle {
  display: flex;   
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.detalle .detalle__imagen {
  width: 45%; 
}
.detalle {
  display: flex;
  height: 35rem;
  flex: 0 1 calc(33% - 1rem); 
  flex-direction: colimn;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border: 1px solid #e1e1e1; 
}

.detalle__informacion {
  flex-direction: column;
  width: 50%; 
  padding: 2rem 1rem; 
  color: #121212;
}
.detalle__informacion h4 {
  margin: 0;
  padding-top: 2rem;
  font-size: 1.5rem; 
  color: #121212;
}
.detalle__informacion p {
  font-size: 1.2rem; 
  padding-bottom: 2rem;
}
.cantidad__btn{
  width: 3rem;
  background-color: #ffc331;
  padding: 1rem 1rem;
  display: inline;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none; 
  margin: 1rem;
  border-radius: .5rem;
  border: none;
}
.cantidad__btn:hover {
  background-color: #121212;
}

.detalle__precio{
  font-size: 20rem;
  font-weight: 900;
  color: #121212;
}
.detalle__precio p{
  text-align: center;
  font-weight: 900;
  color: #121212;
  background-color: #ffc331;
}

